$color-cool-blue: #00699e;
$color-dark-blue: #002a6f;
$color-light-lime: #4ffb07;
$color-dark-green: #055a00;
$color-blood-red: #5f0808;
$color-light-red: rgba(232, 67, 53, 0.94);
$color-dark-orange: #c76000;
$color-cool-orange: #f3ab00;
$color-dark-slate: #262626;
$color-cool-grey: #aeaeae;
$color-dark-grey: #7b7b7b;
$color-pasted-green: #DFF0D8;
$color-menthol-blue: #82eaef;
$color-crooners-red: #7d2e2e;

$border-radius : 4px;

$player-margin: 4px auto;
$player-padding: 4px;
$player-max-width: 720px;

$fa-font-size-base: 1em;