/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../../sass/_screen.scss */
#dcMediaPlayer {
  font-family: arial;
  font-size: 24px;
  background-color: #033100;
  border: 1px solid #0bc000;
  border-radius: 4px;
  margin: 4px auto;
  padding: 4px;
  width: auto;
  overflow: hidden;
}
/* line 20, ../../sass/_screen.scss */
#dcMediaPlayer .controls {
  padding-top: 4px;
  overflow: hidden;
}
/* line 23, ../../sass/_screen.scss */
#dcMediaPlayer .controls .player-search-bar {
  background-color: #abffa7;
  display: block;
  margin: 0.3vw 0 0.6vw 0;
}
/* line 27, ../../sass/_screen.scss */
#dcMediaPlayer .controls .player-search-bar .load-bar {
  background-color: #09a700;
  overflow: hidden;
  min-width: 1.4em;
}
/* line 32, ../../sass/_screen.scss */
#dcMediaPlayer .controls .player-search-bar .player-bar {
  overflow: visible;
  height: 1vw;
  background-color: #055a00;
  border-right: 1px solid #033100;
}
/* line 37, ../../sass/_screen.scss */
#dcMediaPlayer .controls .player-search-bar .player-bar .player-head {
  float: right;
  display: block;
  width: auto;
  overflow: hidden;
  background-color: #044b00;
  padding: 0 0.2em;
  height: 1em;
  color: #abffa7;
  margin-right: -1.4em;
  display: none;
}
/* line 51, ../../sass/_screen.scss */
#dcMediaPlayer .controls .player-control {
  font-size: 2vw;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF055A00', endColorstr='#FF000000');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwNzgzMDAiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzA1NWEwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #078300), color-stop(51%, #055a00));
  background: -moz-linear-gradient(#078300 50%, #055a00 51%);
  background: -webkit-linear-gradient(#078300 50%, #055a00 51%);
  background: linear-gradient(#078300 50%, #055a00 51%);
  -moz-box-shadow: #0ccf00 0 1px 0 inset;
  -webkit-box-shadow: #0ccf00 0 1px 0 inset;
  box-shadow: #0ccf00 0 1px 0 inset;
  border: 1px solid #033100;
  color: #fff;
  text-shadow: black 0 -1px 0;
}
/* line 15, ../../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#dcMediaPlayer .controls .player-control:hover {
  text-decoration: none;
}
/* line 30, ../../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#dcMediaPlayer .controls .player-control:hover {
  background-color: #022700;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwNTVmMDAiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzAyMjcwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #055f00), color-stop(51%, #022700));
  background: -moz-linear-gradient(#055f00 50%, #022700 51%);
  background: -webkit-linear-gradient(#055f00 50%, #022700 51%);
  background: linear-gradient(#055f00 50%, #022700 51%);
}
/* line 33, ../../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#dcMediaPlayer .controls .player-control:active {
  -moz-box-shadow: #022200 0 1px 2px inset;
  -webkit-box-shadow: #022200 0 1px 2px inset;
  box-shadow: #022200 0 1px 2px inset;
}
/* line 6, ../../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#dcMediaPlayer .controls .player-control.disabled, #dcMediaPlayer .controls .player-control[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #044b00;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
#dcMediaPlayer .controls .player-control::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 55, ../../sass/_screen.scss */
#dcMediaPlayer .controls #btnPause,
#dcMediaPlayer .controls #btnPlay,
#dcMediaPlayer .controls #btnNext,
#dcMediaPlayer .controls #btnPrevious {
  width: 33.33333%;
  float: left;
}
/* line 61, ../../sass/_screen.scss */
#dcMediaPlayer .controls #btnPause.hidden,
#dcMediaPlayer .controls #btnPlay.hidden,
#dcMediaPlayer .controls #btnNext.hidden,
#dcMediaPlayer .controls #btnPrevious.hidden {
  display: none;
}
/* line 65, ../../sass/_screen.scss */
#dcMediaPlayer .controls #btnVolumeUp,
#dcMediaPlayer .controls #btnVolumeDown {
  display: none;
}
/* line 71, ../../sass/_screen.scss */
#dcMediaPlayer #trackListTitle {
  font-size: 0.9em;
  margin: 0.4em;
  color: #abffa7;
  text-transform: capitalize;
}
/* line 78, ../../sass/_screen.scss */
#dcMediaPlayer ul#trackList {
  font-size: 0.6em;
  display: block;
  background: #abffa7;
  color: #055a00;
  margin: 0;
}
/* line 86, ../../sass/_screen.scss */
#dcMediaPlayer ul#trackList li {
  display: block;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #033100;
  cursor: pointer;
  line-height: 1em;
  text-transform: capitalize;
}
/* line 95, ../../sass/_screen.scss */
#dcMediaPlayer ul#trackList li .audio {
  display: block;
  width: 500px;
  height: 40px;
}
/* line 101, ../../sass/_screen.scss */
#dcMediaPlayer ul#trackList li:hover, #dcMediaPlayer ul#trackList li.active {
  color: #abffa7;
  background-color: #044b00;
}
/* line 108, ../../sass/_screen.scss */
#dcMediaPlayer .disclaimer {
  float: right;
  line-height: 0.4em;
  padding: 0.35em 0.1em 0 0;
}
/* line 112, ../../sass/_screen.scss */
#dcMediaPlayer .disclaimer a {
  font-size: 0.42em;
  color: #1bff0e;
}
