@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/font-awesome-sass-mixins-4.3.0/lib/sass/font-awesome-mixins/_extends.sass */
#dcMediaPlayer .controls #btnPause i, #dcMediaPlayer .controls #btnPlay i, #dcMediaPlayer .controls #btnNext i, #dcMediaPlayer .controls #btnPrevious i {
  display: inline-block;
  font: normal normal normal 1em/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/* line 586, ../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/font-awesome-sass-mixins-4.3.0/lib/sass/font-awesome-mixins/_extends.sass */
#dcMediaPlayer .controls #btnPrevious i:before {
  content: "";
}

/* line 589, ../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/font-awesome-sass-mixins-4.3.0/lib/sass/font-awesome-mixins/_extends.sass */
#dcMediaPlayer .controls #btnNext i:before {
  content: "";
}

/* line 1111, ../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/font-awesome-sass-mixins-4.3.0/lib/sass/font-awesome-mixins/_extends.sass */
#dcMediaPlayer .controls #btnPause i:before {
  content: "";
}

/* line 1162, ../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/font-awesome-sass-mixins-4.3.0/lib/sass/font-awesome-mixins/_extends.sass */
#dcMediaPlayer .controls #btnPlay i:before {
  content: "";
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/font-awesome/fontawesome-webfont.eot");
  src: url("../../fonts/font-awesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"), url("../../fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"), url("../../fonts/font-awesome/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 25, ../../sass/_screen.scss */
#dcMediaPlayer {
  font-family: arial;
  font-size: 24px;
  background-color: #c7e5bb;
  border: 1px solid white;
  border-radius: 4px;
  margin: 4px auto;
  padding: 4px;
  width: auto;
  overflow: hidden;
}
/* line 26, ../../sass/_screen.scss */
#dcMediaPlayer ul {
  margin: 0;
  padding: 0;
}
/* line 39, ../../sass/_screen.scss */
#dcMediaPlayer .controls {
  padding-top: 4px;
  overflow: hidden;
}
/* line 42, ../../sass/_screen.scss */
#dcMediaPlayer .controls .player-search-bar {
  background-color: white;
  display: block;
  margin: 0.3vw 0 0.6vw 0;
}
/* line 46, ../../sass/_screen.scss */
#dcMediaPlayer .controls .player-search-bar .load-bar {
  background-color: white;
  overflow: hidden;
  min-width: 1.4em;
}
/* line 51, ../../sass/_screen.scss */
#dcMediaPlayer .controls .player-search-bar .player-bar {
  overflow: visible;
  height: 1vw;
  background-color: #DFF0D8;
  border-right: 1px solid #c7e5bb;
}
/* line 56, ../../sass/_screen.scss */
#dcMediaPlayer .controls .player-search-bar .player-bar .player-head {
  float: right;
  display: block;
  width: auto;
  overflow: hidden;
  background-color: #d6eccd;
  padding: 0 0.2em;
  height: 1em;
  color: white;
  margin-right: -1.4em;
  display: none;
}
/* line 70, ../../sass/_screen.scss */
#dcMediaPlayer .controls .player-control {
  font-size: 2vw;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDFF0D8', endColorstr='#FFA3D48E');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlYmY2ZTciLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2RmZjBkOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #ebf6e7), color-stop(51%, #dff0d8));
  background: -moz-linear-gradient(#ebf6e7 50%, #dff0d8 51%);
  background: -webkit-linear-gradient(#ebf6e7 50%, #dff0d8 51%);
  background: linear-gradient(#ebf6e7 50%, #dff0d8 51%);
  -moz-box-shadow: white 0 1px 0 inset;
  -webkit-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #c7e5bb;
  color: #fff;
  text-shadow: #9dd188 0 -1px 0;
}
/* line 15, ../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#dcMediaPlayer .controls .player-control:hover {
  text-decoration: none;
}
/* line 30, ../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#dcMediaPlayer .controls .player-control:hover {
  background-color: #c1e2b3;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNkNmVjY2QiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2MxZTJiMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #d6eccd), color-stop(51%, #c1e2b3));
  background: -moz-linear-gradient(#d6eccd 50%, #c1e2b3 51%);
  background: -webkit-linear-gradient(#d6eccd 50%, #c1e2b3 51%);
  background: linear-gradient(#d6eccd 50%, #c1e2b3 51%);
}
/* line 33, ../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#dcMediaPlayer .controls .player-control:active {
  -moz-box-shadow: #bee0af 0 1px 2px inset;
  -webkit-box-shadow: #bee0af 0 1px 2px inset;
  box-shadow: #bee0af 0 1px 2px inset;
}
/* line 6, ../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#dcMediaPlayer .controls .player-control.disabled, #dcMediaPlayer .controls .player-control[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #d6eccd;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../Program Files (x86)/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
#dcMediaPlayer .controls .player-control::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 74, ../../sass/_screen.scss */
#dcMediaPlayer .controls #btnPause,
#dcMediaPlayer .controls #btnPlay,
#dcMediaPlayer .controls #btnNext,
#dcMediaPlayer .controls #btnPrevious {
  width: 33.33333%;
  float: left;
}
/* line 80, ../../sass/_screen.scss */
#dcMediaPlayer .controls #btnPause.hidden,
#dcMediaPlayer .controls #btnPlay.hidden,
#dcMediaPlayer .controls #btnNext.hidden,
#dcMediaPlayer .controls #btnPrevious.hidden {
  display: none;
}
/* line 105, ../../sass/_screen.scss */
#dcMediaPlayer .controls #btnVolumeUp,
#dcMediaPlayer .controls #btnVolumeDown {
  display: none;
}
/* line 111, ../../sass/_screen.scss */
#dcMediaPlayer #trackListTitle {
  font-size: 0.9em;
  margin: 0.4em;
  color: white;
  text-transform: capitalize;
}
/* line 118, ../../sass/_screen.scss */
#dcMediaPlayer ul#trackList {
  font-size: 0.6em;
  display: block;
  background: white;
  color: #DFF0D8;
  margin: 0;
}
/* line 126, ../../sass/_screen.scss */
#dcMediaPlayer ul#trackList li {
  display: block;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #c7e5bb;
  cursor: pointer;
  line-height: 1em;
  text-transform: capitalize;
}
/* line 135, ../../sass/_screen.scss */
#dcMediaPlayer ul#trackList li .audio {
  display: block;
  width: 500px;
  height: 40px;
}
/* line 141, ../../sass/_screen.scss */
#dcMediaPlayer ul#trackList li:hover, #dcMediaPlayer ul#trackList li.active {
  color: white;
  background-color: #d6eccd;
}
/* line 148, ../../sass/_screen.scss */
#dcMediaPlayer .disclaimer {
  float: right;
  line-height: 0.4em;
  padding: 0.35em 0.1em 0 0;
}
/* line 152, ../../sass/_screen.scss */
#dcMediaPlayer .disclaimer a {
  font-size: 0.42em;
  color: white;
}
